:root{
    --board-color: rgb(21, 23, 24);
    --board-width: 4px;
    --board-border-radius: 10px;
}

body{
    background: rgb(194, 229, 255);
}

.game-board{
    position: absolute;
    width: 50em;
    height: 30em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.casilla{
    font-size: 100px;
}

.first-square{
    border: 0;
    border-right: var(--board-width) solid var(--board-color);
    border-bottom: var(--board-width) solid var(--board-color);
    border-radius: var(--board-border-radius);
}

.second-square{
    border: 0;
    border-right: var(--board-width) solid var(--board-color);
    border-left: var(--board-width) solid var(--board-color);
    border-bottom: var(--board-width) solid var(--board-color);
    border-radius: var(--board-border-radius);
}

.third-square{
    border: 0;
    border-left: var(--board-width) solid var(--board-color);
    border-bottom: var(--board-width) solid var(--board-color);
    border-radius: var(--board-border-radius);
}

.fourth-square{
    border: 0;
    border-top: var(--board-width) solid var(--board-color);
    border-right: var(--board-width) solid var(--board-color);
    border-bottom: var(--board-width) solid var(--board-color);
    border-radius: var(--board-border-radius);
}

.fifth-square{
    border: var(--board-width) solid var(--board-color);
    border-radius: var(--board-border-radius);
}

.sixth-square{
    border: 0;
    border-left: var(--board-width) solid var(--board-color);
    border-top: var(--board-width) solid var(--board-color);
    border-bottom: var(--board-width) solid var(--board-color);
    border-radius: var(--board-border-radius);
}

.seventh-square{
    border: 0;
    border-top: var(--board-width) solid var(--board-color);
    border-right: var(--board-width) solid var(--board-color);
    border-radius: var(--board-border-radius);
}

.eighth-square{
    border: 0;
    border-top: var(--board-width) solid var(--board-color);
    border-right: var(--board-width) solid var(--board-color);
    border-left: var(--board-width) solid var(--board-color);
    border-radius: var(--board-border-radius);
}

.nineth-square{
    border: 0;
    border-top: var(--board-width) solid var(--board-color);
    border-left: var(--board-width) solid var(--board-color);
    border-radius: var(--board-border-radius);
}